In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 인코딩 (Encoding)
- 카테고리 값이나 텍스트 정보를 처리가 쉬운 정수로 변환하는 과정이다.
    - 모든 알고리즘의 input 은 숫자여야한다.

# 1. One-Hot-Encoding
- pandas 활용

In [2]:
df = pd.DataFrame({'user' : ['user1', 'user2', 'user3'], 'region' : ['서울', '부산', '대구']})

In [3]:
ohe = pd.get_dummies(df.region)
ohe

   대구  부산  서울
0   0   0   1
1   0   1   0
2   1   0   0

In [4]:
df = pd.concat([df.drop('region', axis=1), ohe], axis=1)
df

    user  대구  부산  서울
0  user1   0   0   1
1  user2   0   1   0
2  user3   1   0   0

# 2. Label Encoding
- sklearn 활용

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = ['A', 'B', 'A', 'A', 'B', 'C', 'C', 'A', 'C', 'B']
le.fit(y)
le.classes_

array(['A', 'B', 'C'], dtype='<U1')

In [7]:
y2 = le.transform(y) 
y2

array([0, 1, 0, 0, 1, 2, 2, 0, 2, 1])

In [8]:
le.inverse_transform(y2)

/Users/sechang/anaconda/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array(['A', 'B', 'A', 'A', 'B', 'C', 'C', 'A', 'C', 'B'], dtype='<U1')